---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Svetas Salon" description="Full service Nail Salon in Utah Valley">
	<main class="bg-gold-900">
		<h1 class="text-7xl p-8 text-center">Messing with Tailwind</h1>
	</main>
</MainLayout>
