---
import Hero from "../components/hero/Hero";
import MainLayout from "../layouts/MainLayout.astro";
import Logos from "../components/partners/Logos";
import Services from "../components/services/Services";
import Navbar from "../components/navigation/Navbar";
---

<MainLayout title="Svetas Salon" description="Full service Nail Salon in Utah Valley">
	<main class="bg-pink-500">
		<!-- <Navbar client:load /> -->
		<Hero />
		<!-- <Services /> -->
		<Logos />
	</main>
</MainLayout>
